.div-content-new{
    margin: 15px;
    padding: 15px;
    background-color: lightgreen;
}

.div-img-content{
    height: 150px;
    padding: 10px;
}

.div-text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 204, 85);
}